<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Sign Up</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <form action="/_sign_up" method="POST" style="margin: 5% 20% 15% 20%;">
  <div class="row">
    <div class="column">
       <div class="five columns">
      <label for="RegisterFirstNameInput">First Name</label>
      <input class="u-full-width" type="text" placeholder="First Name" id="RegisterFirstNameInput">
      <label for="RegisterLastNameInput">Last Name</label>
      <input class="u-full-width" type="text" placeholder="Last Name" id="RegisterLastNameInput">
      <input class="u-full-width" type="hidden" placeholder="Summoner Name" id="RegisterSumNameInput">
      <label for="LoginEmailInput">Your email</label>
      <input class="u-full-width" type="email" placeholder="duckid@uoregon.edu" id="RegisterEmailInput">
      <label for="RegisterPhoneInput">Phone</label>
      <input class="u-full-width" type="text" placeholder="Phone" id="RegisterPhoneInput">
      <label for="RegisterIDInput">Student ID</label>
      <input class="u-full-width" type="text" placeholder="UO Student ID ( or L-Number)" id="RegisterIDInput">
      <label for="RegisterStatusInput">Status</label>
      <select id="RegisterStatusInput">
      	<option value="Freshman"> Freshman </option>
      	<option value="Sophomore"> Sophomore </option>
      	<option value="Junior"> Junior </option>
      	<option value="Senior"> Senior </option>
      	<option value="Graduate"> Graduate </option>
      	<option value="Local"> Local Community </option>
      </select>
      <label for="RegisterReferInput">Referral</label>
      <input class="u-full-width" type="text" placeholder="How did you hear about us?" id="RegisterReferInput">
      <label for="LoginPasswordInput">Your password</label>
      <input class="u-full-width" type="password" placeholder="Password" id="RegisterPasswordInput">
      <label for="LoginRepeatInput">Repeat password</label>
      <input class="u-full-width" type="password" placeholder="Repeat" id="LoginRepeatInput"></div>
    </div>
        <input type="button" onclick="document.location='/index'" value="Back"/>
        <input class="button-primary" type="submit" value="Submit">
  </div>
</form>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
